/* font link imported from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
/* styling the main App class font and alignment */
.App {
  font-family: "Josefin Sans", cursive;
  text-align: center;
}
.Error404 {
  background-image: "404-error-page.png";
  width: 100%;
  height: 100%;
}
.hButton {
  display: flex;
  justify-content: center;
  height: 60px;
  text-color: black;
  background-color: #1da54a;
}

.header-text {
  padding-top: 5vh;
  font-size: 5vh;
}
/* styling for "Deal Cards" button on /Game page */
.dealButton {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  border-radius: 8px;
}
/* styling "Player Stand" "Player Hit" and "New Game" buttons on /Game page */
.buttons {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-radius: 8px;
}
/* styling for player hand total and text on /Game page */
.player {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  color: powderblue;
}
/* styling the players cards on /Game page */
.playersCards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
/* styling the dealers hand total and text on /Game page */
.dealer {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  color: powderblue;
}
/* styling the dealers cards on /Game page */
.dealersCards {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: -30px;
}
/* styling the game result text on /Game page */
.gameDecision {
  color: powderblue;
  text-decoration: underline;
}
/* styling the background of all pages of the application */
body {
  font-family: "Lucida Sans Unicode";
  background-color: #0b801c!important;
}
/* styling the navigation bar */
.navbar,
.navbar-default {
  background-image: #0b801c; /* override background image gradient w/ flat color */
}
/* Styling for first text box on About page */
.col-sm {
  background: #97b8a7;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}
/* Styling for second text box on About page */
.col-sm2 {
  background: #97b8a7;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}
/* Styling for third text box on About page */
.col-sm3 {
  background: #97b8a7;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 8px;
}
/* styling for main container on About page */
.container {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
/* styling for About page */
.row {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
/* styling for "Play BlackJack" button on Home page */
.play-button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  height: 100px;
  font-family: "Josefin Sans", cursive;
  font-size: 60px!important;
  background: none;
  background:rgba(255,255,255,0.5);
}

.home-image {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vh;
  height: 70vh;
  transform: translate(-50%, -50%);
}

.card-image {
  width: 100vh;
  height: 80vh;
}
